
.navbar-brand img {
    max-width: 100px;
    height: auto;
}

body {
    background-color: rgb(201, 201, 201);
}

.header-text {
    font-size: 2rem; 
    margin-top: 1.5rem; 
}

.btn-background {
    background-color: rgb(93, 47, 136);
}

.btn-background:hover {
    background-color: rgb(65, 36, 92);
}


.btn {
    color: white;
    font-weight: bold;
}

.btn:hover {
    color: white;
    font-weight: bold;
}

.card {
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    text-align: center;
    height: 500px;
}
.card-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}


